.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  width: 1100px;
  height: 293px;
}

.header__logo-image {
  width: 149px;
  height: 104px;
}

.header__links-list {
  display: flex;
  gap: 31px;
  padding-left: 50px;
  font-size: 18px;
  padding-bottom: 6px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__links-list-item {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.header__link_active {
  text-decoration: none;
}

.check-lots__weight {
  padding-left: 1px;
}

.about__weight {
  padding-left: 4px;
}

.header__address {
  display: block;
  max-width: 240px;
  justify-self: end;
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
  margin-right: 87px;
  margin-bottom: 5px;
}

.contacts {
  text-decoration: none;
  border-bottom: 1px solid black;
}

.cover {
  position: relative;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  width: 1100px;
  height: 757px;
  margin-bottom: 0px;
  z-index: -1;
}

.overlay {
  position: absolute;
  background-color: #000;
  opacity: 0.6;
  height: 100%;
  width: 100%;
  z-index: 0;
  inset: 0;
}

.cover__tittle {
  position: relative;
  color: #fff;
  font-size: 100px;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  z-index: 1;
}

.aligned-text {
  position: absolute;
  top: 164px;
  left: 50px;
}

.aligned-text_center {
  position: absolute;
  top: 299px;
  left: 381px;
}

.aligned-text_right {
  position: absolute;
  top: 434px;
  left: 664px
}

.cover__description {
  display: flex;
  gap: 60px;
  justify-self:center;
  color: #fff;
}

.cover__description-text {
  position: absolute;
  bottom: 61px;
  left: 50px;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 19px;
}

.alignment {
  word-spacing: 18px;
}

.bet-button {
  background: transparent;
  position: absolute;
  bottom: 50px;
  right: 50px;
  width: 256px;
  height: 51px;
  font-size: 22px;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
}

.lots {
  position: relative;
  width: 1052px;
  height: 723px;
  margin: auto;
}

.lots__heading {
  position: absolute;
  font-size: 40px;
  top: 180px;
  left: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  padding-top: 254px;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.card-link {
  height: 100%;
  text-decoration: none;
}

.card {
  height: 100%;
  color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 40px;
  z-index: -1;
}

.card__title {
  font-size: 22px;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 3px;
  z-index: 1;
}

.card__text {
  z-index: 1;
  font-size: 20px;
  line-height: 24px;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-size: cover;
  background-position: center;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-size: cover;
  background-position: center;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  background-size: cover;
  background-position: center;
}

.lots__look-more-link {
  position: relative;
  top: 30px;
  left: 40px;
  font-size: 20px;
  text-underline-offset: 4px;
  
}

.footer__menu-list {
  list-style: none;
}